[*.{cs,vb}]

# IDE0003: Remove qualification
dotnet_style_qualification_for_event = false

# IDE0003: Remove qualification
dotnet_style_qualification_for_method = false

# IDE0003: Remove qualification
dotnet_style_qualification_for_property = false

# IDE0003: Remove qualification
dotnet_style_qualification_for_field = false

# IDE0003: Remove qualification
dotnet_diagnostic.IDE0003.severity = none
